.App {
  text-align: center;
  background: linear-gradient(#e66465, #9198e5);
  height: 100vh;
  
}





.position{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% ;

}
.time-digits{
  font-size: 4em;
}
.time-text{
  display: flex;
  
  text-align: center;
  justify-content: center;
}
.time-text-item{
  font-size: 20px;
  margin: 20px;
}
